[Desktop Entry]
Version=1.0
Type=Application
Name=Marker
Comment=A fast, minimal PDF annotator
Exec=marker %F
Icon=marker
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;
Keywords=pdf;annotate;markup;
StartupNotify=true
Actions=new-window;

[Desktop Action new-window]
Name=Open in New Window
Exec=marker --new-window %F
